.navigation-clean.navbar-light .navbar-nav .nav-link {
	font-size: 19.2px;font-family: Lato, sans-serif;font-weight: normal;padding: 8px 14px;padding-right: 1.3rem;padding-left: 9px;letter-spacing: 0px;
}

.nav-link-text:hover{
	border-bottom: 1.1px solid black;	
}
